<% title "Cart" %>
<% javascript :defaults %>

<div class="contentClearTextBlock">
  <h1>Shopping Cart</h1>
</div>

<div class="contentClearTextBlock" id="cart">
	<%= render(:partial => "cart") %>
</div>
