<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>What is the CSC code?</title>
  <style type="text/css" media="screen"> 
    body { margin: 0; padding: 20px; font-family: Arial, Tahoma, Verdana, sans-serif, helvetica; font-size: 11px; color: #000; text-align: left; }
    div { text-align: left; border: none; }
    img { border: 0; font-size: 1px; }
    .clear { clear: both; }
    .card { float: left; margin-right: 20px; }
    .card p { width: 320px; margin: 10px 0; }
    p.close { text-align: right; padding: 20px 40px 0 0; }
  </style>
</head>
<body>
  <h2>What is the CSC code?</h2>
  <p>For your safety and security, we require that you enter your Card Security Code (CSC).</p>
  <div>
    <div class="card">
      <p>For <strong>MasterCard, Visa,</strong> and <strong>Discover,</strong> the CSC is the last three digits in the signature area on the back of your card.</p>
      <p><img src="/sitepics/cv_card.gif" border="0" alt=""></p>
    </div>
    <div class="card">
      <p>For <strong>American Express,</strong> the CSC is a group of four digits on front of the card.</p>
      <p><img src="/sitepics/cv_amex_card.gif" border="0" alt=""></p>
    </div>
    <div class="clear"></div>
  </div>
  <p class="close"><a href="#" onClick="window.close();return false;">Close Window</a></p>
</body>
</html>

