
<% form_for :field_value, :url => url do |f| -%>
  <%= f.error_messages %>

  <table class="form">
    <tr>
      <td class="label">Value:</td>
      <td class="field"><%= f.text_field :value, :class => "f-input" %></td>
    </tr>
  </table>

  <p><%= f.submit "Submit" %><p>
  <%= link_to "Back To List", { :action => "list", :field_id => @field }, :class => "action-link-text back" %>
  <div class="clear"></div>
  
<% end -%>

