<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      New Order on <%=h Setting.site_name %>.<br/>
    </p>
    <p>
      Order Number: <b><%=h @order.number %></b>
    </p>
    <p>
      <a href="<%= Setting.root_url + 'admin/orders/view/' + @order.id.to_s %>">See details in backend</a>
    </p>
  </body>
</html>