
<% if @categories_count == 0 && @items_count == 0 -%>
	<div class="contentBaseBlock">
		<div class="contentBaseBlockHeader">Not Found</div>
		<div class="contentBaseBlockData">
			<p>DATA NOT FOUND...</p>
		</div>
	</div>
	<div class="blockSpacerRightColumn"></div>
<% end -%>