<% javascript :defaults %>

<div class="contentClearTextBlock">
  <h1>Login</h1>
</div>

<div class="contentClearTextBlock">
  <center>
  
    <div id="login_form_div">
      <%= render :partial => 'form' %>
    </div>

  </center>
</div>


  





